html {
	text-align: center;
}

nav a {
	text-decoration: none;
	margin: 20px;
}

.loader {
	display: block;
	margin: auto;
}

.grid-fluid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	text-align: center;
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

