:root {
	--main-font: sans-serif;
	--font-size: 16px;
	--main-color: #f7df1e;
	--second-color: #222;
	--main-modal-color: rgba(247, 222, 30, 0.85);
	--second-modal-color: rgba(34, 34, 34, 0.85);
	--container-width: 1200px;
}

html {
	box-sizing: border-box;
	font-family: var(--main-font);
	font-size: var(--font-size);
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	overflow-x: hidden;
}

.darkMode {
	background-color: black;
	color: aliceblue;
}

img,
video {
	max-width: 100%;
	height: auto;
}

.section {
	padding: 2rem;
	padding-top: 4rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: var(--container-width);
	min-height: 100vh;
	text-align: center;
}

.title-header,
.title-section {
	text-align: center;
}

.title-header {
	padding: 5%;
	background-color: rgb(247, 209, 83);
}

.title-section {
	border-top: 1px solid gray;
}

.asideSection {
	display: block;
	flex-direction: column;
	text-align: center;
	visibility: hidden;
	position: fixed;
	top: 0%;
	left: 0%;
	background-color: rgb(44, 53, 60);
	width: 30vh;
	height: 100vh;
	overflow: auto;
	transition: transform 0.3s ease, opacity 0.5s ease;
}

::-webkit-scrollbar {
	display: none;
}

.asideSection div {
	padding: 8%;
}

.asideSection div:hover {
	background-color: rgb(83, 140, 239);
	color: black;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: black;
}

#btnBurger {
	position: fixed;
	z-index: 999;
	bottom: 1vh;
	right: 1vw;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-color);
}

.idRelojVisible {
	visibility: visible;
}

.idRelojHidden {
	visibility: hidden;
}

.rrectangulo {
	display: flex;
	min-height: 50vh;
	background-color: var(--second-color);
}

.circulo {
	margin: auto;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: var(--main-color);
}

.btnScroll {
	position: fixed;
	z-index: 999;
	bottom: 1vh;
	right: calc(4.25rem + 1vw);
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	font-size: 2rem;
	font-weight: bold;
	background-color: var(--main-color);
	color: var(--second-color);
	cursor: pointer;
	outline: 0;
	border: 0;
	transition: all 0.3s ease-out;
}

.btnDarkMode {
	position: fixed;
	z-index: 999;
	bottom: 1vh;
	left: 1vw;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	font-size: 2rem;
	font-weight: bold;
	background-color: var(--main-color);
	color: var(--second-color);
	cursor: pointer;
	outline: 0;
	border: 0;
	transition: all 0.3s ease-out;
}

.sec04 {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.linkSectionCuatro {
	color: rgb(55, 0, 255);
	text-decoration: solid;
}

.linkSectionCuatro:hover {
	color: #ffe100;
}
form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
	align-items: center;
}

form input {
	width: 250px;
}

#btnSubmit {
	cursor: pointer;
	background-color: #f7df1e;
	border: #b8b7ad 1px solid;
}

#btnSubmit:hover {
	background-color: #f7de1e99;
}

#btnCerrar {
	cursor: pointer;
	background-color: #f7341e;
}

.online,
.offline {
	position: sticky;
	top: 0;
	z-index: 1000;
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	background-color: #1b5e20;
	color: #fff;
}

.offline {
	background-color: #b71c1c;
}

.aMaps {
	color: rgb(255, 145, 0);
}

.aMaps:hover {
	color: rgb(39, 89, 255);
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
	background-color: rgb(255, 255, 255);
	color: black;
	border: 1px solid #c3c3c3;
	transition: all 0.3s ease-out;
	border-radius: 10%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
	border-radius: 10% 10% 0 0;
}

.card figcaption {
	padding: 1rem;
}

.filter {
	/* display: none; */
	visibility: hidden;
	opacity: 0;
	order: 1;
}

#slider {
	position: relative;
	width: 80%;
	margin: 1rem auto;
	/* border: thin solid black; */
	text-align: center;
}

.cardsSlider {
	position: relative;
	height: 400px;
}

.cardSlider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s ease;
}

.cardSlider.active {
	opacity: 1;
	visibility: visible;
}

.cardSlider img {
	height: inherit;
	width: inherit;
	object-fit: cover;
	object-position: 50% 0%;
	border-radius: 5%;
}

.btnsSlider {
	position: absolute;
	width: 100%;
	top: calc(50% - 2rem);
	display: flex;
	justify-content: space-between;
	font-size: 3rem;
	font-weight: bold;
}

.slider a {
	display: block;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: thin solid #000;
	text-decoration: none;
	background-color: #ffffff;
	color: #ffffff;
	transition: all 0.3s ease;
}

video {
	border-radius: 2%;
}

form input {
	width: 50%;
}

.contact-form {
	--form-ok-color: #4caf50;
	--form-error-color: #f44336;
}

.contact-form > * {
	display: block;
	width: 100%;
}

.contact-form textarea {
	resize: none;
	width: 50%;
}

.contact-form-response {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.contact-form input[type="submit"] {
	width: 50%;
	font-weight: bold;
	cursor: pointer;
}

.contact-form *::placeholder {
	color: #000;
	padding: 2px;
}

.contact-form [required]:valid {
	border: thin solid var(--form-ok-color);
}

/* .contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
} */

.contact-form-error {
	display: flex;
	flex-direction: column;
	margin-top: 0rem;
	margin-bottom: 1rem;
	font-size: 80%;

	color: #ff0000;
	transition: all 800ms ease;
}

.contact-form-error.is-active {
	display: block;
	animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
	display: none;
}

@keyframes show-message {
	0% {
		visibility: hidden;
		opacity: 0;
	}

	100% {
		visibility: visible;
		opacity: 1;
	}
}
